body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
}

#amino-acid-image {
    margin: 20px 0;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
}
